ul.quest-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		background-color: rgb(0, 0, 0, 0.8);

		position: relative;
		$width: 24em;
		$height: 4em;
		width: $width;
		height: $height;
		border-radius: $border-thickness;
		border: 1px solid $color-border;

		display: flex;
		align-items: center;

		padding: $large $very-small;

		img {
			$icon-size: $height * 0.75;
			width: $icon-size;
			height: $icon-size;
			margin-inline: $very-small;
		}

		hgroup {
			margin-left: $very-small;
			text-align: left;

			h5 {
				color: $color-accent;
			}
		}

		&:not(:last-child) {
			margin-bottom: $very-small;
		}

		&:hover {
			border-color: $color-primary;
			box-shadow: 0 0 10px 1px $color-white-glow;

			@mixin corner-triangle($horizontal, $vertical) {
				content: "";
				position: absolute;
				width: 0;
				height: 0;

				@if $horizontal {
					left: 0;
					border-right: $small solid transparent;
				} @else {
					right: 0;
					border-left: $small solid transparent;
				}

				@if $vertical {
					top: 0;
					border-top: $small solid $color-primary;
				} @else {
					bottom: 0;
					border-bottom: $small solid $color-primary;
				}
			}

			span.top::before {
				@include corner-triangle(true, true);
			}

			span.top::after {
				@include corner-triangle(false, true);
			}

			span.bottom::before {
				@include corner-triangle(false, false);
			}

			span.bottom::after {
				@include corner-triangle(true, false);
			}
		}
	}
}