<!DOCTYPE html>
<html data-theme="dark" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="Checklist website for tracking 100%+ completion of The Legend of Zelda: Breath of The Wild."
		/>
		<meta
			name="keywords"
			content="BOTW, TLOZ, Breath of the Wild, Checklist, Cheat Sheet"
		/>
		<meta name="author" content="Nyveon (Eric K.)" />
		<title>{{ title }}</title>

		<script
			defer
			src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
		></script>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
		></script>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
		></script>
		<script src="/js/index.js"></script>

		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>
		<header>
			<h1><a href="/">The Legend of Zelda: Breath of the Wild Checklist</a></h1>

			<nav>
				<ul>
					{% for key, img in {'Quests': 'quest-main.svg', 'Compendium':
					'sheikah.svg', 'Other': 'triforce.svg'} %}
					<li>
						<img src="/img/{{ img }}" alt="" />
						<a href="/{{ key | lower }}">{{ key }}</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<main>
			{{ content | safe }}
		</main>

		<footer>
			<span>Page by Nyveon. (Eric K)</span>
			<span>credits to go here, currently in the readme</span>
		</footer>
	</body>
</html>
