<!DOCTYPE html>
<html data-theme="dark" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="Checklist website for tracking 100%+ completion of The Legend of Zelda: Breath of The Wild."
		/>
		<meta
			name="keywords"
			content="BOTW, TLOZ, Breath of the Wild, Checklist, Cheat Sheet"
		/>
		<meta name="author" content="Nyveon (Eric K.)" />
		<title>{{ title }}</title>

		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"
		></script>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.11.1/dist/module.cjs.min.js"
		></script>
		<script src="/js/index.js"></script>

		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>
		<header>
			<h1>The Legend of Zelda: Breath of the Wild Checklist</h1>

			<nav>
				<ul>
					<li><a href="#" role="button">Quests</a></li>
					<li><a href="#" role="button">Compendium</a></li>
					<li><a href="#" role="button">Completion</a></li>
					<li><a href="#" role="button">Settings</a></li>
				</ul>
			</nav>
		</header>

		{{ content | safe }}

		<footer>
			<span>Page by Nyveon. (Eric K)</span>
			<span>credits to go here, currently in the readme</span>
		</footer>
	</body>
</html>
