.checkbox {
	width: 100%;
	max-width: $setting-width * 4;

	display: grid;
	grid-template-columns: repeat(auto-fill, $setting-width);
	justify-content: space-around;
	grid-gap: $very-small 0;

	label {
		cursor: pointer;
	}

	span {
		margin-left: $very-small;
	}
}

input[type="checkbox"] {
	@include size($medium, $medium);
	position: relative;
	display: inline-block;

	transform: rotate(45deg);
	margin: 0;

	-webkit-appearance: none;
	appearance: none;

	font: inherit;
	color: currentColor;
	--check-color: #{$color-highlight};

	border: 0.15em solid currentColor;
	border-radius: 0.15em;

	cursor: pointer;

	&::before {
		$check-size: $very-small;
		@include size($check-size, $check-size);
		@include absolute(calc($check-size / 4), auto, auto, calc($check-size / 4));
		content: "";
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em var(--check-color);
	}

	&:checked::before {
		transform: scale(1);
	}
}
