.radio {
	display: inline-block;

	input {
		-webkit-appearance: none;
		appearance: none;
		color: currentColor;

		width: $medium;
		height: $medium;
		border: 0.15em solid currentColor;
		border-radius: 50%;

		margin: 0;

		&:checked {
			background-color: $color-highlight;
			@include glow($color-highlight);
		}

		&:hover {
			@include glow($color-white-glow);
		}
	}

	label {
		&:hover {
			@include glow-text($color-white-glow);
		}
		

		&:not(:first-child) {
			margin-left: $small;
		}
	}
}