// Palette
$botw-yellow: #e1c139;
$botw-lime: #a1c925;
$botw-blue: #3cd3fc;
$botw-shrine: #abddca;
$botw-stamina: #13ff59;

$botw-text-white: #dbd9ca;
$botw-ui-light: #292825;
$botw-ui-dark: #141413;
$botw-ui-border: #4e4c47;

// Text element colors
$color-text: $botw-text-white;
$color-text-inactive: #41423d;
$color-primary: $botw-text-white;
$color-highlight: $botw-blue;
$color-glow: $botw-blue;

$color-link: $botw-blue;
$color-link-visited: darken($color-link, 20%);

$color-incomplete: $botw-stamina;
$color-completed: $botw-yellow;

// Quest colors
$colors-quest: (
	"main": $botw-yellow,
	"side": $botw-lime,
	"shrine": $botw-blue,
	"memory": $botw-shrine,
);

// Background and outline colors
$color-border: $botw-ui-border;

$color-frame: $botw-ui-light;
$color-background: $botw-ui-dark;

$color-transparent-dark: rgba(0, 0, 0, 0.8);
$color-white-glow: rgb(255, 255, 255, 0.4);
