// Palette
$botw-yellow: #E1C139;
$botw-lime: #A1C925;
$botw-blue: #3CD3FC;
$botw-shrine: #ABDDCA;

$botw-text-white: #dbd9ca;
$botw-ui-light: #292825;
$botw-ui-dark: #141413;
$botw-ui-border: #4E4C47;

// Text element colors
$color-text: $botw-text-white;
$color-text-inactive: #41423D;
$color-primary: $botw-text-white;
$color-highlight: $botw-blue;

// Quest colors
$colors-quest: (
	"main": $botw-yellow,
	"side": $botw-lime,
	"shrine": $botw-blue,
	"memory": $botw-shrine
);

// Background and outline colors
$color-border: $botw-ui-border;

$color-frame: $botw-ui-light;
$color-background: $botw-ui-dark;

$color-transparent-dark: rgba(0, 0, 0, 0.8);
$color-white-glow: rgb(255, 255, 255, 0.4);