//#region -- Layout and positioning utilities
@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin flex-wrap($direction, $justify, $align) {
	@include flex($direction, $justify, $align);
	flex-wrap: wrap;
}

@mixin absolute($top, $right, $bottom, $left) {
	position: absolute;
	inset: $top $right $bottom $left;
}

@mixin fixed($top, $right, $bottom, $left) {
	position: fixed;
	inset: $top $right $bottom $left;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}
//#endregion

//#region -- Borders, outlines and glows
@mixin corner-triangle($horizontal, $vertical) {
	@include size(0, 0);
	content: "";
	position: absolute;

	@if $horizontal {
		left: 0;
		border-right: $small solid transparent;
	} @else {
		right: 0;
		border-left: $small solid transparent;
	}

	@if $vertical {
		top: 0;
		border-top: $small solid $color-primary;
	} @else {
		bottom: 0;
		border-bottom: $small solid $color-primary;
	}
}

@mixin botw-border {
	border: {
		style: solid;
		color: $color-border;
		width: 1px;
		radius: 2px;
	}

	outline: {
		style: solid;
		color: $color-transparent-dark;
		width: 2px;
	}
}

@mixin glow($color) {
	box-shadow: 0 0 0.5em $color;
}

@mixin glow-text($color) {
	text-shadow: 0 0 0.5em $color;
}
//#endregion

//#region -- Text utilities
@mixin link {
	a {
		color: $color-link;

		img {
			transition: scale 0.2s ease-in-out;
		}

		&:hover {
			text-decoration: underline;

			img {
				scale: 0.9;
			}
		}

		&:visited {
			color: $color-link-visited;
		}
	}
}
//#endregion
