// Abstract sizes
$very-small: 0.5em;
$small: 0.75em;
$medium: 1em;
$large: 2em;
$very-large: 4em;

// Border
$border-thickness: 4px;

// Quests
$quest-card-width: 25em;
$quest-card-height: 4em;

$quest-card-width-small: 18em;
$quest-card-height-small: 3em;

// Breakpoints
$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

// Top bar
$topbar-height: 6em;
$search-width: 22em;
$setting-width: 12em;
