.quests {
	[role="tabpanel"] {
		list-style: none;
		margin: 0;
		padding: 0;

		display: grid;
		grid-template-columns: repeat(auto-fill, $quest-card-width);
		grid-gap: 0 $very-small;
		justify-content: space-evenly;

		&.compact {
			grid-template-columns: repeat(auto-fill, $quest-card-width-small);
		}
	}

	[role="tablist"] {
		[aria-selected="true"] {
			@each $type, $color in $colors-quest {
				a.#{$type} {
					img {
						filter: drop-shadow(0 0 0.5px $color) drop-shadow(0 0 1px $color);
					}

					h2::after {
						background-color: $color;
						transition: transform 0.25s ease-in-out;
						transform: scaleX(1);
					}
				}
			}

			.background {
				visibility: visible;
			}
		}

		a h2::after {
			@include size(100%, 2px);
			content: "";
			display: block;
			transition: transform 0.25s ease-in-out;
			transform: scaleX(0);
		}

		.background {
			@include fixed(0, 0, auto, auto);
			@include size(auto, 100%);
			z-index: -1;
			visibility: hidden;
		}
	}
}
