#page-quests {
	@each $type, $color in $colors-quest {
		.#{$type} {
			--quest-color: #{$color};
		}
	}

	[role="tabpanel"] {
		list-style: none;
		margin: 0;
		padding: 0;

		display: grid;
		grid-template-columns: repeat(auto-fill, $quest-card-width);
		grid-gap: 0 $very-small;
		justify-content: space-evenly;

		&.compact {
			grid-template-columns: repeat(auto-fill, $quest-card-width-small);
		}
	}

	[role="tablist"] {
		[aria-selected="true"] {
			a {
				img {
					filter: drop-shadow(0 0 0.5px var(--quest-color))
						drop-shadow(0 0 1px var(--quest-color));
				}

				h2::after {
					background-color: var(--quest-color);
					transition: transform 0.25s ease-in-out;
					transform: scaleX(1);
				}
			}

			.background {
				visibility: visible;
			}
		}

		a h2::after {
			@include size(100%, 2px);
			content: "";
			display: block;
			transition: transform 0.25s ease-in-out;
			transform: scaleX(0);
		}

		.background {
			@include fixed(0, 0, auto, auto);
			@include size(auto, 100vh);
			z-index: -1;
			visibility: hidden;
		}
	}
}
