main {
	@include size(100%, auto);
	padding: $large;
	flex: 1;

	@media screen and (max-width: $breakpoint-mobile) {
		padding-inline: $very-small;
	}

	@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
		padding-inline: $small;
	}

	section {
		.content {
			@include flex(column, space-around, normal);
			border: 2px solid $color-border;
			border-image: linear-gradient(
					to right,
					transparent,
					$color-border,
					transparent
				)
				1;
			background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0.01),
				rgba(255, 255, 255, 0)
			);
			padding-bottom: $large;
			margin-block: $medium;
		}

		[role="tablist"] {
			@include flex-wrap(row, space-around, normal);
			list-style: none;
			padding: 0;

			.title {
				@include flex(row, space-around, center);
				filter: brightness(30%);
				transition: filter 0.2s ease-in-out;

				img {
					@include size($very-large);
					margin-inline: $medium;
				}

				&:hover {
					filter: brightness(100%);
				}
			}

			[aria-selected="true"] .title {
				filter: brightness(100%);
			}
		}
	}
}
