main {
	margin-inline: auto;
	min-height: 100vh;
	padding: $medium;

	section {
		width: 90%;
		margin-inline: auto;

		.content {
			@include flex(column, space-around, normal);
		}

		.tabs {
			@include flex(row, space-around, normal);
			flex-wrap: wrap;
			list-style: none;
			padding: 0;

			.title {
				@include flex(row, space-around, center);

				img {
					width: $very-large;
					height: $very-large;
					margin-inline: $medium;
				}

				transition: filter 0.2s ease-in-out;
				filter: brightness(30%);
				&.active, &:hover {
					filter: brightness(100%);
				}
			}
		}
	}
}
