main {
	padding: $large;
	width: 100%;
	flex: 1;

	@media screen and (max-width: $breakpoint-mobile) {
		padding-inline: $very-small;
	}

	@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
		padding-inline: $small;
	}

	section {
		.content {
			@include flex(column, space-around, normal);
		}

		.tabs {
			@include flex(row, space-around, normal);
			flex-wrap: wrap;
			list-style: none;
			padding: 0;

			.title {
				@include flex(row, space-around, center);

				img {
					width: $very-large;
					height: $very-large;
					margin-inline: $medium;
				}

				transition: filter 0.2s ease-in-out;
				filter: brightness(30%);
				&.active, &:hover {
					filter: brightness(100%);
				}
			}
		}
	}
}
