nav {
	font-weight: bold;

	ul {
		@include flex(row, space-around, normal);

		li {
			display: inline-block;
			margin: 0 1em;

			a {
				color: $color-primary;
				text-decoration: none;

				&:hover {
					color: $color-highlight;
				}
			}
		}
	}
}
