nav {
	font-weight: bold;

	ul {
		@include flex(row, space-around, normal);

		li {
			display: inline-block;
			margin: 0 1em;

			a:hover {
				@include glow-text($color-glow);
				color: $color-link;

				img {
					scale: 0.9;
				}
			}

			img {
				@include size($large);

				margin-right: $small;

				transition: scale 0.2s ease-in-out;
			}
		}
	}
}
