.topbar {
	display: grid;
	grid-template-columns: $search-width 1fr calc($search-width / 2);
	white-space: nowrap;
	align-items: center;

	.bar-element:nth-child(1) {
		justify-self: end;
	}

	.bar-element:nth-child(2) {
		justify-self: center;
	}

	.bar-element:nth-child(3) {
		justify-self: start;
	}

	padding-inline: $small;

	@media screen and (max-width: $breakpoint-desktop) {
		padding-inline: 1%;
	}

	@media screen and (max-width: $breakpoint-tablet) {
		padding-inline: 0%;

		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-gap: $very-small;

		.bar-element {
			align-items: center;
			justify-self: center !important;
		}
	}

	--collapsible: 1;
	@media screen and (max-width: $breakpoint-mobile) {
		--collapsible: 0;
	}
}

[role="toolbar"] {
	@include flex-wrap(column, flex-start, flex-start);
}

fieldset {
	border: none;

	label img {
		@include size($large);
	}

	@media screen and (max-width: $breakpoint-tablet) {
		margin-inline: auto;
	}
}
