.radio {
	display: inline-block;

	input {
		-webkit-appearance: none;
		appearance: none;

		color: currentColor;
		width: $medium;
		height: $medium;
		border: 0.15em solid currentColor;
		border-radius: 50%;

		margin: 0;

		&:not(:first-child) {
			margin-left: $small;
		}

		&:checked {
			background-color: $color-highlight;
			box-shadow: 0 0 0.5em $color-highlight;
		}

		&:hover {
			box-shadow: 0 0 0.5em $color-white-glow;
		}
	}

	label {
		&:hover {
			text-shadow: 0 0 0.5em $color-white-glow;
		}
	}
}