.search input {
	height: $large + $small;
	width: 20em;
	padding-left: $large;
	padding-block: $medium;

	border: none;
	border-radius: $large;
	outline: 1px solid $color-border;

	color: $color-text;
	
	background-color: $color-frame;
	background-image: url('/static/img/search.svg');
    background-size: $medium $medium;
	background-position: 0.5em center;
    background-repeat: no-repeat;


	&:focus {
		outline-color: $color-primary;
	}

	&:hover {
		border-color: $color-primary;
	}
}