.search input {
	height: $large;
	width: 20em;

	background-color: $color-frame;
	color: $color-text;

	@include botw-border;

	&:focus {
		outline-color: $color-primary;
	}

	&:hover {
		border-color: $color-primary;
	}
}