// Palette
$botw-stamina-green: #11ff5c;
$botw-item-blue: #0c99f9;
$botw-heart-red: #ee273e;
$botw-selected-grey: #494843;
$botw-text-white: #dbd9ca;
$botw-ui-dark: #121110;
$botw-ui-lighter: #22211f;

// Text element colors
$color-text: $botw-text-white;
$color-primary: $botw-text-white;
$color-highlight: $botw-item-blue;

// Background and outline colors
$color-outline: $botw-selected-grey;
$color-frame: $botw-ui-lighter;
$color-background: $botw-ui-dark;