// Palette
$botw-stamina-green: #11ff5c;

$botw-yellow: #E1C139;
$botw-lime: #A1C925;
$botw-blue: #3CD3FC;
$botw-shrine: #ABDDCA;

$botw-item-blue: #0c99f9;
$botw-heart-red: #ee273e;
$botw-selected-grey: #494843;
$botw-text-white: #dbd9ca;
$botw-ui-dark: #121110;
$botw-ui-lighter: #22211f;

// Text element colors
$color-text: $botw-text-white;
$color-text-inactive: #41423D;
$color-primary: $botw-text-white;
$color-highlight: $botw-item-blue;

// Quest colors
$colors-quest: (
	"main": $botw-yellow,
	"side": $botw-lime,
	"shrine": $botw-blue,
	"memory": $botw-shrine
);

// Background and outline colors
$color-border: $botw-selected-grey;
$color-frame: $botw-ui-lighter;
$color-background: $botw-ui-dark;
$color-transparent-dark: rgba(0, 0, 0, 0.8);
$color-white-glow: rgb(255, 255, 255, 0.4);