---
layout: base.njk
title: "BOTW: Quests"
---

<main>
	<section
		class="quests"
		x-data="{
			search: '',
			sorting: $persist('none'),
			activeTab: $persist('main'),
			showCompleted: $persist(true),
			showDLC: $persist(true),
			compactMode: $persist(false),

			isActiveTab(id) {
				return this.activeTab === id;
			},
		}"
	>
		<section class="filterbar">
			<fieldset class="search">
				<input
					name="search"
					x-model="search"
					placeholder="Search for a quest..."
					type="search"
				/>
			</fieldset>

			<fieldset class="radio">
				{% for key, name in { 'asc': 'Ascending', 'desc': 'Descending', 'none':
				'Index' } %}
				<label for="sort-{{ key }}" title="Sort by {{ name }}">
					<input
						type="radio"
						value="{{ key }}"
						x-model="sorting"
						name="sort"
						id="sort-{{ key }}"
					/>
					<img src="/img/{{ key }}.svg" alt="Sort by {{ name }}" />
				</label>
				{% endfor %}
			</fieldset>

			<fieldset class="checkbox">
				{% for key, text in { 'showCompleted': 'Show completed quests',
				'showDLC': 'Show DLC quests', 'compactMode': 'Compact mode' } %}
				<label for="{{ key }}" title="{{ text }}">
					<input
						type="checkbox"
						x-model="{{ key }}"
						name="{{ key }}"
						id="{{ key }}"
					/>
					<span>{{ text }}</span>
				</label>
				{% endfor %}
			</fieldset>
		</section>

		<section class="content">
			<ul class="tabs">
				{% for category in categories %}
				<li :class="{ 'active': isActiveTab('{{ category.type }}') }">
					<img src="{{ category.background }}" class="background" alt="" />
					<a
						href="#"
						id="{{ category.type }}"
						class="title {{ category.type }}"
						:class="{'active': isActiveTab('{{ category.type }}')}"
						@click="activeTab = '{{ category.type }}'"
					>
						<img src="{{ category.icon }}" alt="{{ category.name }}" />
						<h1>{{ category.name }}</h1>
					</a>
				</li>
				{% endfor %}
			</ul>

			<ul class="quest-list"
				:class="{ 'compact': compactMode }">
				{% for category in categories %}
				<template
					x-data="{ 
							quests: {{ category.quests | dump }},
							get filteredQuests() {
								return questFilter(this.quests, this.search, this.sorting);
							}
						}"
					x-for="quest in filteredQuests"
					:key="quest.index"
				>
					<li
						:id="'{{ category.type }}-' + quest.index"
						x-data="{ completed: $persist(false).as('{{
							category.type
						}}-' + quest.index) }"
						class="{{ category.type }}"
						:class="{ 'completed': completed, 'compact': compactMode }"
						@click="completed = !completed"
						x-show="isActiveTab('{{
							category.type
						}}') && (showCompleted || !completed) && (showDLC || !quest.dlc)"
						x-transition:enter
						role="button"
					>
						<img src="{{ category.icon }}" alt="" />
						<hgroup>
							<span class="top"></span>
							<span class="bottom"></span>
							<h2 x-text="quest.name"></h2>
							<h5
								class="{{ category.type }}"
								x-text="quest.location ? quest.location : quest.nameCensored"
							></h5>
						</hgroup>
					</li>
				</template>
				{% endfor %}
			</ul>
		</section>
	</section>
</main>
