---
layout: base.njk
title: "BOTW: Home"
name: "index"
---

<img class="background" src="/img/sheikah.svg" />

<h2>Hello!</h2>
<p>
	Welcome to the Legend of Zelda: Breath of the Wild Checklist. Here you can
	keep track of your completion of <a href="/quests">quests</a>,
	<a href="/compendium">compendium photos</a> and <a href="/other">more</a>.
</p>

<p>
	All data is stored locally, so keep in mind that if you clear your browsing
	data, all your inputs will be reset.
</p>

Feel free to:
<ul>
	<li>
		<a href="https://github.com/Nyveon/tloz-breath-of-the-wild-checklist/issues"
			>Report any bugs</a
		>
	</li>
	<li>
		<a href="https://github.com/Nyveon/tloz-breath-of-the-wild-checklist/issues"
			>Suggest new features</a
		>
	</li>
	<li>
		<a href="https://github.com/Nyveon/tloz-breath-of-the-wild-checklist"
			>Star the repository on github</a
		>
	</li>
	<li><a href="https://eri.cl">Check out my portfolio</a></li>
</ul>

<p>This webpage was made by Nyveon (Eric K).</p>

<h2 id="credits">Credits & Attribution</h2>
<p>This project was made possible thanks to many people and projects.</p>

<h3>Fonts</h3>
<ul>
	<li>
		<a href="https://artsyomni.com/hyliaserif"
			>Hylia Serif font by Omni Jacala</a
		>
	</li>
	<li>
		<a
			href="https://www.reddit.com/r/zelda/comments/5txuba/breath_of_the_wild_ui_font/"
			>Calamity Sans by 5txuba</a
		>
	</li>
	<li>
		<a
			href="https://www.deviantart.com/proendreeper/art/Sheikah-Font-Full-Numbers-Letters-Symbols-1-2-659273276"
			>Sheikah Font by ProEndreeper</a
		>
	</li>
</ul>

<h3>Icons & Images</h3>
<ul>
	<li>
		<a href="https://www.figma.com/@hparamore"
			>Zelda BOTW UI Kit by Hunter Paramore</a
		>
	</li>
	<li><a href="https://fontawesome.com/license/free">Fontawesome Icons</a></li>
</ul>

<h3>Text & Information</h3>
<ul>
	<li>
		<a href="https://zelda.fandom.com/wiki/">Zelda Fandom Wiki</a>
	</li>
</ul>
