---
layout: base.njk
title: "BOTW: Quests"
---

<main>
	<section class="quests" x-data="questData()">
		<section class="filterbar">
			<fieldset class="search">
				<input
					name="search"
					x-model="search"
					placeholder="Search for a quest..."
					type="search"
				/>
			</fieldset>

			<fieldset class="radio">
				<label for="sort-asc" title="Ascending sort">
					<input
						type="radio"
						value="asc"
						x-model="sorting"
						name="sort"
						id="sort-asc"
					/>
					<img src="/img/asc.svg" alt="Ascending sort" />
				</label>

				<label for="sort-desc" title="Descending sort">
					<input
						type="radio"
						name="sort"
						x-model="sorting"
						value="desc"
						id="sort-desc"
					/>
					<img src="/img/desc.svg" alt="Descending sort" />
				</label>

				<label for="sort-none" title="Sort by index">
					<input
						type="radio"
						value="none"
						x-model="sorting"
						name="sort"
						id="sort-none"
					/>
					<img src="/img/none.svg" alt="Sort by index" />
				</label>
			</fieldset>
		</section>

		<section class="content">
			<ul class="tabs">
				{% for category in categories %}
				<li :class="{ 'active': isActiveTab('{{ category.type }}') }">
					<img src="{{ category.background }}" class="background" alt="" />
					<a
						href="#"
						id="{{ category.type }}"
						class="title {{ category.type }}"
						:class="{'active': isActiveTab('{{ category.type }}')}"
						@click="activeTab = '{{ category.type }}'"
					>
						<img src="{{ category.icon }}" alt="{{ category.name }}" />
						<h1>{{ category.name }}</h1>
					</a>
				</li>
				{% endfor %}
			</ul>

			<ul class="quest-list">
				{% for category in categories %}
				<template
					x-data="{ 
							quests: {{ category.quests | dump }},
							get filteredQuests() {
								return this.questFilter(this.quests);
							}
						}"
					x-for="quest in filteredQuests"
				>
					<li
						class="{{ category.type }}"
						x-show="isActiveTab('{{ category.type }}')"
						x-transition:enter.scale
					>
						<img src="{{ category.icon }}" alt="" />
						<hgroup>
							<span class="top"></span>
							<span class="bottom"></span>
							<h2 x-text="quest.name"></h2>
							<h5
								class="{{ category.type }}"
								x-text="quest.location ? quest.location : quest.nameCensored"
							></h5>
						</hgroup>
					</li>
				</template>
				{% endfor %}
			</ul>
		</section>
	</section>
</main>
