---
layout: base.njk
title: "BOTW: Quests"
---

<section
	class="quests"
	x-data="{
		search: '',
		sorting: $persist('none'),
		activeTab: $persist('main'),
		showCompleted: $persist(true),
		showDLC: $persist(true),
		compactMode: $persist(false),
		showLocation: $persist(true),
		completedLast: $persist(false),
		checkboxMode: $persist(false),

		isActiveTab(id) {
			return this.activeTab === id;
		},

		allQuests: {
			{% for category in questData %}
			{{ category.type }}: [
				{% for quest in category.quests %}
				{
					index: {{ quest.index }},
					name: &quot;{{ quest.name | escape }}&quot;,
					nameCensored: &quot;{{ quest.nameCensored | escape }}&quot;,
					location: &quot;{{ quest.location | escape }}&quot;,
					completed: $persist(false).as('{{ category.type }}-{{ quest.index }}'),
					{% if quest.dlc %}
					dlc: {{ quest.dlc }},
					{% endif %}
				},
				{% endfor %}
			],
			{% endfor %}
		},

		{% for category in questData %}
		get {{ category.type }}Completion() {
			return completedQuests(this.allQuests['{{ category.type }}'], this.showDLC);
		},
		{% endfor %}

		get totalCompletion() {
			let completed = 0;
			let total = 0;
			{% for category in questData %}
			completed += this.{{ category.type }}Completion.completed;
			total += this.{{ category.type }}Completion.total;
			{% endfor %}
			const percentage = Math.round(completed / total * 100); 
			return { completed, total, percentage };
		},
	}"
>
	<section class="topbar">
		<div class="bar-element" role="toolbar" aria-label="Quest filters & search">
			<fieldset class="search" role="search">
				<input
					name="search"
					x-model="search"
					type="search"
					placeholder="Search for a quest..."
				/>
			</fieldset>

			<fieldset class="radio">
				{% for key, name in { 'asc': 'Ascending', 'desc': 'Descending', 'none':
				'Index' } %}
				<label for="sort-{{ key }}" title="Sort by {{ name }}">
					<input
						type="radio"
						value="{{ key }}"
						x-model="sorting"
						name="sort"
						id="sort-{{ key }}"
					/>
					<img src="/img/{{ key }}.svg" alt="Sort by {{ name }}" />
				</label>
				{% endfor %}
			</fieldset>
		</div>

		<fieldset class="bar-element checkbox">
			{% for key, text in { 'showCompleted': 'Show completed', 'showDLC':
			'Include DLC', 'showLocation': 'Show location', 'compactMode': 'Compact
			mode', 'completedLast': 'Completed last', 'checkboxMode': 'Checkboxes'} %}
			<label for="{{ key }}" title="{{ text }}">
				<input
					type="checkbox"
					x-model="{{ key }}"
					name="{{ key }}"
					id="{{ key }}"
				/>
				<span>{{ text }}</span>
			</label>
			{% endfor %}
		</fieldset>

		<div class="bar-element completion">
			<b>Completion:</b>
			<div
				class="radial"
				:style="
					{'--percent': totalCompletion.percentage}
				"
				:class="{
					'completed': totalCompletion.percentage === 100,
				}"
			>
				<span x-text="totalCompletion.percentage + '%'"></span>
				<span
					x-text="totalCompletion.completed + '/' + totalCompletion.total"
				></span>
			</div>
		</div>
	</section>

	<section class="content" aria-label="Quests">
		<ul role="tablist">
			{% for category in questData %}
			<li role="tab" :aria-selected="isActiveTab('{{ category.type }}')">
				<img src="{{ category.background }}" class="background" alt="" />
				<a
					href="#"
					id="{{ category.type }}"
					class="title {{ category.type }}"
					@click="activeTab = '{{ category.type }}'"
					@click.prevent
				>
					<img src="{{ category.icon }}" alt="{{ category.name }}" />
					<h2>{{ category.name }}</h2>
					<div style="margin-left: 1em">
						<span x-text="{{ category.type }}Completion.completed"></span> /
						<span x-text="{{ category.type }}Completion.total"></span>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>

		{% for category in questData %}
		<div x-show="isActiveTab('{{ category.type }}')">
			<ul role="tabpanel" :class="{ 'compact': compactMode }">
				<template
					x-data="{ 
							quests: allQuests['{{ category.type }}'],
							get filteredQuests() {
								return questFilter(this.quests, this.search, this.sorting, this.completedLast);
							}
						}"
					x-for="quest in filteredQuests"
					:key="quest.index"
				>
					<li
						:id="'{{ category.type }}-' + quest.index"
						class="{{ category.type }}"
						:class="{ 'completed': quest.completed, 'compact': compactMode, 'spoiler': !showLocation, 'checkbox-mode': checkboxMode }"
						@click="
							quest.completed = !quest.completed;
						"
						x-show="(showCompleted || !quest.completed) && (showDLC || !quest.dlc)"
						x-transition
						role="button"
						x-data="{ 
							completed: allQuests['{{ category.type }}'][quest.index]
						}"
					>
						<template x-if="checkboxMode">
							<input type="checkbox" x-model="quest.completed" @click.stop />
						</template>
						<template x-if="!checkboxMode">
							<img src="{{ category.icon }}" alt="" />
						</template>
						<div class="top"></div>
						<div class="bottom"></div>
						<hgroup>
							<h3
								x-text="quest.nameCensored ? quest.nameCensored : quest.name"
							></h3>
							<span
								class="{{ category.type }}"
								x-text="quest.nameCensored ? quest.name : quest.location"
							></span>
						</hgroup>
					</li>
				</template>
			</ul>
		</div>
		{% endfor %}
	</section>
</section>
